*{
    margin: 0; 
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1,
h2,
h3{
    color: #000;
}

p{color: #2c2d30;}

/* Navbar */
.header{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

nav{
    position: relative;
}

.logo{
    width: 50px;
    margin-top: 15px;
}

.navbar-items{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 5px;
}

.navbar-items a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-items a:hover{
    color: #ccc;
}

.suport-btn{
    padding: 15px 20px;
    border-radius: 15px;
    background-color: #2cc76a;
}
.navbar-items .suport-btn:hover{
    color: black;
    background-color: #22bb5f;
}

/* main banner */
.banner{
    background-image: url('../img/mainbanner.png');
        background-size: cover;
        background-position: center;
    padding: 10rem 0;
}

.banner h1,
.banner p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.banner h1{
    font-size: 54px;
}

.banner p{
    font-size: 32px;
}

/* services */
.services-container{
    padding: 5rem 0;
}

.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt{
    color: #2cc76a;
}
.fa-rocket{
    color: #ef3f29;
}
.fa-comments{
    color: #ef8f29;
}

.services-container h3{
    margin-bottom: 25px;
}

.services-container p{
    line-height: 30px;
}
 
/* contact form */
.contact-container{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 36px;
}

.contact-container p{
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea{
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact-container input[type="submit"]{
    display: block;
    margin: 0 auto;
    background-color: #2cc76a;
    color: #FFF;
    cursor: pointer;
}

/* foorter */

footer {
    text-align: center ;
    font-weight: bold;
    margin: 20px 0 70px;
}

.ctt{
    font-size: 10px;
}

/* responsividade */
/* small */
@media (max-width: 900px){
    .main-banner p{
        padding: 0 6rem;
    }
}

/* celular */

@media (max-width: 576px){
    html,
    body{
        overflow-x: hidden;
    }
    .banner p {
        padding: 0 2rem;
        font-size: 15px;
    }
    .navbar-items li{
        font-size: 12px;
        margin-left: 10px;
    }
    .contact-container input,
    .contact-container textarea{
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
    .contact-container{
        padding: 3rem 2rem;
    }
    .services-container ul{
        flex-direction: column;
    }
    .contact-container .btn{
        color: black;
        background-color: #0edb60;
    }
    .contact-container p{
        font-size: 12px;
        margin: 15px auto;
    }
    .contact-container h2{
        font-size: 20px;
        margin: 10px auto;
    }
}